@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #ffffff;
}

body {
  color: #111827;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}